body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

/* Header Starts */
#header{
    height: 60px;
    font-size: 22px;
    background-color: #43655A;
}

#header a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    display: inline-block;
    padding: 5px; 
    margin-top: 1%;
    margin-left: 1%;
}

#header a:hover{
    text-decoration: underline;
    font-size: 23px;
}
/* Header Ends */

/* Main Div Starts */
#main{
    width: 100%;
    display: inline-block;
    height: 325px;
    background-color: #F0FCF8;
}

/* Profile Picture */
#profileimg img{
    border: 0.5px solid #F0FCF8;
    float: left;
    margin-left: 12%;
    border-radius: 50%;
    margin-top: 0.2%;
}

/* Name */
#name{
    font-size: 72px;
    text-align: center;
    margin-right: 17%;
    color: #43655A;
}

#name>p{
    margin-top: 3%;
}
/* Main Div Ends */


/* About Me Div Starts */
#about{
    border: 2px solid #DADDE2;
    background-color:#DADDE2;
}

#about h2{
    text-align: center;
    color: #43655A;
    text-transform: uppercase;
    padding: 1%;
}

#about p{
    font-size: 18px;
    color: #43655A;
    font-weight: bold;
    padding: 0% 6%;
}
/* About Me Div Ends */


/* Skills Div starts */
#skills{
    border: 2px solid #F0FCF8;
    background-color: #F0FCF8;
}

#skills h2{
    text-align: center;
    color: #43655A;
    text-transform: uppercase;
    padding: 1%;
}

.skillicons{
    width:60px;
    height:60px;
    border-radius: 7%;
    margin: 0.2%;
    margin-bottom: 1%;
}
 /* Skills Div Ends */

/* Projects Div starts */
#projects{
    border: 2px solid #DADDE2;
    background-color:#DADDE2;
}

#projects>h2{
    text-align: center;
    color: #43655A;
    text-transform: uppercase;
    padding: 1%;
}

.row{
    width: 100%;
}

.card{
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 400px;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #F0FCF8;
    box-shadow: 10px 10px 25px #50765d;
}

.card-img-top{
    width: 100%;
    height: 60%;
}

.card-text{
    font-size: 20px;
    font-weight: bold;
    color: #43655A;
}
/* Projects Div Ends */


 /* Contact Div Starts */
#contact{
    background-color: #F0FCF8;
    border: 2px solid #F0FCF8;
    display: inline-block;
    width: 100%;
}

#contactHeading{
    text-align: center;
    color: #43655A;
    text-transform: uppercase;
    padding: 1%;
}

/* Map Starts */
#map{
    width:45%;
    height:450px;
    margin-top: 1%;
    margin-bottom: 5%;  
    margin-left: 5%;
}

/* ContactCard Div  Starts*/
#contactCard{
    width: 40%;
    float: right;
    background-color: #43655A;
    height: 450px;
    margin-right: 5%;
    margin-top: 1%;
}

#contactSubHeading > h3{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
}

#formField{
    padding-top: 5%;
    width: 75%;
}

#formBtn{
    width: 30%;
    height: 50px;
    margin-top: 14%;
    font-size: 25px;
    background-color: #FFFFFF;
    color: #43655A !important;
}
/* ContactCard Div  Ends*/
/* Contact Div Ends*/

/* Footer starts */
#footer{
    border: 2px solid #43655A;
    background-color: #43655A;
}

#info{
    padding: 1%;
}

#footer>center>h3{
    color: #FFFFFF;
}

/* Glyphicons in Footer */
.image{
    text-decoration: none;
}

.icons{
    border-radius: 17%;
    height: 50px;
    width: 50px;
    margin-top: 8px;
}

.icons:hover {
    width:55px;
    height:50px;
    box-shadow: 0 10px 15px 0 #5a5458, 0 17px 40px 0 #171a1f;
    transition-timing-function: ease-in-out;
}
/* Footer Ends */

/* Media Query starts */
@media screen and (max-width:1100px) {
    .card{
        display: block;
        margin-left: 20%;
        width: 60%;
        height: 440px;
    }
    #name{
        margin-right: 10%;
    }
}

@media  screen and (max-width: 900px) {
    #name{
        margin-right: 0%;
    }
    .card {
        margin-left: 10%;
        width: 80%;
        height: 430px;
    }
    #map{
        width: 80%;
        margin-left: 10%;
        display: block;
    }
    #contact{
        height: 1020px;
        margin-bottom: 4%;
    }
    #contactCard{
        width: 80%;
        margin-right: 10%;
    }
    #formBtn {
        margin-top: 6%;
    }
    #projects{
        padding-bottom: 4%;
    }
}

@media screen and (max-width: 850px){
    #profileimg>img{
        margin-left: 8%;
    }
}

@media screen and (max-width:750px) {
    #name{
        font-size: 60px;
    }
    #name>p {
        margin-top: 8%;
    }
}

@media screen and (max-width:700px) {
    #formBtn{
        margin-top: 10%;
    } 
}

@media screen and (max-width:650px) {
    #name{
        font-size: 50px;
    }
    #name>p {
        margin-top: 13%;
    }
}

@media screen and (max-width:600px) {
    .card {
        margin-left: 5%;
        width: 95%;
    }
    #profileimg>img {
        margin-left: 2%;
    }
}
/* Media Query Ends */
